/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
    font-family: 'Roboto', sans-serif;
}

.event-subscribed-button {
    font-size: 14px;
} 

.app-green {
    color: #1abc9c !important;
}